# General configuration file
http {
	server {
		keepalive_timeout 	15s; # in seconds
		send_timeout		10s; # in seconds
		listen				8000;
		server_name			localhost;
		root				www;
		autoindex			on;
		#index				index.html;
		directory_listing	on;
		client_body_size	3000000; # in bytes

		location / {
			methods			GET POST DELETE;
		}

		location /redirect {
			redirect		www.surf.inc;
			index			blabla.bla;
		}

		location /test {
			methods			POST;
		}
	}

	server {
		listen 8080;
		root /data/secret;
		server_name			localhost;
		index	main.py;

		location / {
			methods POST;
		}
	}

	server {
		listen 8080;
		root /data/secret;
		server_name	127.0.0.1;
		index	main.py;

		location / {
			methods POST;
		}
	}
}

#http {
#	
#methods			GET POST DELETE;
#}
