# General configuration file
http {
	server {
		keepalive_timeout	15s;
		send_timeout		10s;
		listen				80;
		server_name			localhost;
		root				/data/webserv;
		autoindex			off;
		index				index.html;
		directory_listing	on;
		client_body_size	200000; # in bytes

		location / {
			methods			GET POST DELETE;
		}

		location /redirect {
			redirect		www.surf.inc;
		}

		location /test {
			methods			POST;
		}
	}
}
